<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 418 : I'm a teapot</title>
    <style>
        body {
            background-color: #262626;
            color: white;
            font-family: "Arial";
            
        }
        pre{
            font-family: "Arial";
            font-size: 50px;
        }

        .smol{
            font-size: 20px;
        }
    </style>
</head>
<body>
    <pre>
Sorry i don't brew coffee,
i'm a teapot
🫖🫖🫖🫖🫖
    </pre>
    <pre class="smol">
    Error 418: I'm a teapot

    Reason : {{reason}}
    </pre>
    
</body>
</html>