<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yavasadam</title>
    <link rel="stylesheet" href="/style/index.css">
    <script src="/script/index.js"></script>
</head>
<body>
    <div class="title">
    <h1 class="bigtitle">Yavasadam (スローマン) </h1>
    <p class="subtitle">Coder, Student, Banana</p>
    </div>
    <h1 class="myprojectsheader">Here is my projects (:</h1>
    <div id="myprojects">
    </div>
</body>
</html>